          <p>
            
            <h3>คำชี้แจง</h3>
            <blockquote  style="font-size:1em">
           	  <strong>เป้าหมายการให้บริการ</strong>
           	  
              <ol>
               <li>สำหรับครูและบุคลากรของโรงเรียนปรินส์รอยแยลส์วิทยาลัย</li>
               <li> สำหรับนักเรียนโรงเรียนปรินส์รอยแยลส์วิทยาลัย</li>
               <li>สำหรับบุคคลอื่นๆ (มีเงื่อนไข)</li>
               </ol>
              
              <footer>ผู้จัดทำ</footer>
            </blockquote>

          </p>